.additional-product {
  @media (min-width: $vp-1260) {
    display: grid;

    gap: 3%;
    grid-template-columns: 70% 27%;
  }
}

.additional-product__container {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;

  @media (min-width: $vp-768) {
    display: grid;

    gap: 5%;
    grid-template-columns: 52% 43%;
  }

  @media (min-width: $vp-1260) {
    margin: 0;

    gap: 7%;
    grid-template-columns: 45% 48%;
  }
}

.additional-product__title {
  margin: 0 0 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  color: $black-out;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product__price-container {
  display: flex;
  justify-content: space-between;

  @media (min-width: $vp-768) {
    display: grid;

    gap: 11%;
    grid-template-columns: 66% 23%;
  }

  @media (min-width: $vp-1260) {
    gap: 14%;
    grid-template-columns: 66% 20%;
  }
}

.additional-product__description,
.additional-product__price {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: $font-lato;
  color: $goshawk-grey;

  @media (min-width: $vp-768) {
    margin: 0 0 0 auto;

    font-size: 16px;
    line-height: 20px;
  }
}
