.banner {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 186px 61px 43px 58px;

  background-color: $starbur;
  background-image: url("../img/background/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: $starbur;
    opacity: 85%;
  }

  &::after {
    top: 65px;
    left: 50%;
    z-index: 2;

    width: 57px;
    height: 61px;

    background-image: url("../img/background/banner-icon.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, 0);

    @media (min-width: $vp-768) {
      top: 50%;
      left: 88px;

      width: 57px;
      height: 62px;

      background-size: cover;
      transform: translate(0, -50%);
    }

    @media (min-width: $vp-1260) {
      top: 65px;
      left: 50%;

      width: 57px;
      height: 61px;

      background-size: cover;
      transform: translate(-50%, 0);
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/banner-mobile@2x.jpg");
  }

  @media (min-width: $vp-768) {
    padding: 71px 124px 69px 422px;

    background-image: url("../img/background/banner-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/banner-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1260) {
    padding: 184px 20px 42px 20px;

    background-image: url("../img/background/banner-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/banner-desktop@2x.jpg");
    }
  }
}

.banner__description {
  position: relative;
  z-index: 2;

  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-lato;
  text-align: center;
  color: $white;

  @media (min-width: $vp-768) {
    text-align: left;
  }

  @media (min-width: $vp-1260) {
    text-align: center;
  }
}
