.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-oswald;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $starbur;
  border: none;
  cursor: pointer;

  &--background-color {
    color: $goshawk-grey;

    background-color: $bleached-silk;
  }

  @media (min-width: $vp-768) {
    padding: 14px 45px;

    font-size: 20px;
    line-height: 20px;
  }
}
