.catalog__card-list,
.catalog__additional-product-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__subtitle {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: $black;
  text-transform: uppercase;
}
