.custom-element {
  position: relative;

  display: flex;

  cursor: pointer;
}

.custom-element__icon {
  position: absolute;

  width: 30px;
  height: 30px;

  outline: 1px solid $compact-disc-grey;

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;
  }

  &--radio {
    border-radius: 50%;
  }

  .custom-element:hover & {
    outline: 1px solid $covered-in-platinum;
  }

  .custom-element:active & {
    outline: 1px solid $covered-in-platinum;
    opacity: 30%;
  }

  .custom-element__input:disabled + & {
    background-color: $mercury;
    outline: none;
    opacity: 100%;

    pointer-events: none;
  }
}

.custom-element__input {
  &[type="radio"]:checked + .custom-element__icon::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;

    width: 13px;
    height: 13px;

    background-color: $starbur;
    border-radius: 50%;

    @media (min-width: $vp-768) {
      top: 11px;
      left: 11px;

      width: 18px;
      height: 18px;
    }
  }

  &[type="checkbox"]:checked + .custom-element__icon::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 6px;

    width: 18px;
    height: 14px;

    background-image: url("../img/background/custom-element-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp-768) {
      top: 11px;
      left: 8px;

      width: 24px;
      height: 18px;
    }
  }
}

.custom-element__input-label {
  padding: 5px 0 5px 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  color: $black-out;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 5px 0 5px 60px;

    font-size: 20px;
    line-height: 30px;
  }

  .custom-element:active & {
    opacity: 30%;
  }

  .custom-element__input:disabled ~ & {
    color: $covered-in-platinum;

    opacity: 100%;

    pointer-events: none;
  }
}
