.fields {
  @media (min-width: $vp-768) {
    padding: 0 36px 0 41px;
  }

  @media (min-width: $vp-1260) {
    padding: 0;
  }
}

.fields__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 34px 0;

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $vp-1260) {
    margin: 0 0 61px 0;
  }
}

.fields__fieldset {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;

  &--information,
  &--program {
    margin: 0 0 47px 0;
    padding: 0;

    border: none;

    @media (min-width: $vp-768) {
      margin: 0 0 74px 0;
    }

    @media (min-width: $vp-1260) {
      width: calc(50% - 40px);
      margin: 0 0 71px 0;
    }
  }

  &--information::before,
  &--program::before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $covered-in-platinum-dark;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &--program::before {
    bottom: -20px;
  }

  &--program {
    @media (min-width: $vp-768) {
      margin: 0 0 75px 0;
      padding: 25px 28px 25px 28px;

      outline: 1px solid $moon-lily;
    }

    @media (min-width: $vp-1260) {
      align-self: flex-start;
      margin: 0 0 70px 0;
    }
  }

  &--contacts {
    margin: 0 0 24px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 65px 0;
    }

    @media (min-width: $vp-1260) {
      display: flex;
      flex-direction: column;
      margin: 0 0 67px 0;
    }
  }

  &--comment {
    margin: 0 0 22px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 67px 0;
    }
  }
}

.fields__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 15px;

  @media (min-width: $vp-768) {
    gap: 12px;
  }

  @media (min-width: $vp-1260) {
    gap: 13px;
  }

  .fields__fieldset--information & {
    gap: 15px;

    @media (min-width: $vp-768) {
      gap: 21px;
    }
  }

  .fields__fieldset--contacts & {
    gap: 14px;

    @media (min-width: $vp-768) {
      gap: 20px;
    }

    @media (min-width: $vp-1260) {
      gap: 20px 6.5%;
      grid-template-columns: repeat(2, 46.7%);
    }
  }

  .fields__fieldset--additionally & {
    @media (min-width: $vp-768) {
      gap: 32px 13%;
      grid-template-columns: repeat(2, 41.5%);
    }

    @media (min-width: $vp-1260) {
      gap: 20px 8.6%;
      grid-template-columns: 18% 18% 18% 20%;
    }
  }
}

.fields__item {
  .fields__fieldset--additionally &,
  .fields__fieldset--program & {
    width: fit-content;
  }
}

.fields__title {
  position: relative;

  display: flex;
  align-self: flex-start;
  max-width: 205px;
  margin: 0 0 35px 0;
  padding: 0 22px 0 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-family: $font-oswald;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $starbur;

    @media (min-width: $vp-768) {
      top: 23px;
      left: 50%;

      transform: translate(-50%, 0);
    }

    @media (min-width: $vp-1260) {
      top: 21px;
    }
  }

  @media (min-width: $vp-768) {
    max-width: 650px;
    margin: 0 0 76px -40px;
    padding: 0 42px 0 37px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $vp-1260) {
    margin: 0 0 76px -38px;
  }

  &--margin {
    margin: 0 0 34px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 57px -40px;
    }

    @media (min-width: $vp-1260) {
      margin: 0 0 57px -38px;
    }
  }

  .fields__fieldset--comment & {
    margin: 0 0 39px 0;

    @media (min-width: $vp-768) {
      margin: 0 0 75px -40px;
    }

    @media (min-width: $vp-1260) {
      margin: 0 0 76px -38px;
    }
  }

  .fields__fieldset--comment &::after,
  .fields__fieldset--comment &::before {
    @media (min-width: $vp-768) {
      top: 21px;
    }
  }
}

.fields__button-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
  }
}

.fields__button {
  margin: 0 0 20px 0;

  @media (min-width: $vp-768) {
    width: 44.5%;
    max-width: 300px;
    margin: 0 64px 0 0;
    padding: 16px 48px 16px 49px;
  }

  @media (min-width: $vp-1260) {
    width: calc(50% - 42px);
    max-width: 100%;
    margin: 0 84px 0 0;
  }
}

.fields__description {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $vp-768) {
    margin: 15px 0 0 0;

    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $vp-1260) {
    margin: 17px 0 0 0;
  }
}
