.form {
  padding: 27px 0 32px 0;

  @media (min-width: $vp-768) {
    padding: 65px 0 72px 0;
  }

  @media (min-width: $vp-1260) {
    padding: 73px 0 82px 0;
  }
}

.form__title {
  margin: 0 0 37px 0;
}

.form__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-oswald;
  color: $black;
  text-transform: uppercase;
}
