.header {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    display: none;
    width: 100%;
    height: 367px;

    @media (min-width: $vp-1260) {
      left: 50%;

      height: calc(100% + 529px);
    }
  }

  &::before {
    background-image: url("../img/background/intro-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/intro-background-mobile@2x.jpg");
    }

    @media (min-width: $vp-1260) {
      width: 720px;

      background-image: url("../img/background/intro-background-desktop.jpg");
      background-position: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/intro-background-desktop@2x.jpg");
      }
    }
  }

  &::after {
    background: linear-gradient(90deg, $starbur 720px, $chlorophyll 720px);
    opacity: 85%;
  }

  @media (min-width: $vp-1260) {
    z-index: 2;
  }

  &--main::before,
  &--main::after {
    display: block;

    @media (min-width: $vp-768) {
      display: none;
    }

    @media (min-width: $vp-1260) {
      display: block;
    }
  }
}

.header__button-logo-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 16px 0;

  @media (min-width: $vp-768) {
    display: block;
    padding: 0;
  }
}

.header__container {
  background-color: $white;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    min-height: auto;

    background-color: $transparent;
  }

  @media (min-width: $vp-1260) {
    padding: 54px 0;
  }
}

.header__logo {
  display: block;
  width: 190px;
  height: 37px;

  @media (min-width: $vp-768) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: $vp-1260) {
    width: 202px;
    height: 59px;
  }
}

.header__toggle {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 24px;
  height: 18px;
  margin: auto 0;
  padding: 0;

  background-color: $transparent;
  border: none;
  cursor: pointer;

  gap: 7px;

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.header__toggle-line {
  width: 24px;
  height: 1.5px;

  background-color: $black;

  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

  .is-open & {
    background-color: $black;
  }

  .is-open &:nth-child(2) {
    width: 25px;

    transform: rotate(-45deg) translate(-10px, 4px);
  }

  .is-open &:nth-child(3) {
    display: none;
  }

  .is-open &:nth-child(4) {
    width: 25px;

    transform: rotate(45deg) translate(-2px, 4px);
  }
}

.header__navigation {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;

  .is-open & {
    display: flex;
  }

  .no-js & {
    position: static;

    display: flex;
  }

  @media (min-width: $vp-768) {
    position: static;

    display: flex;
    justify-content: flex-end;
  }
}

.header__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $white;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 18px 0 0 0;

    gap: 35px;
  }

  @media (min-width: $vp-1260) {
    max-width: 620px;

    background-color: $transparent;

    gap: 34px;
  }
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 40px);
  margin: 0 0 0 -20px;
  padding: 22px 22px 24px 22px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-oswald;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  box-shadow: 0 1px 0 $moon-lily-light inset;

  .header__item:last-child & {
    box-shadow: 0 1px 0 $moon-lily-light inset,
      0 -1px 0 $moon-lily-light inset;

    @media (min-width: $vp-768) {
      box-shadow: none;
    }
  }

  @media (min-width: $vp-768) {
    width: auto;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    box-shadow: none;
  }

  &--current,
  &--current-main {
    @media (min-width: $vp-768) {
      text-decoration: underline;

      text-decoration-color: $starbur;
      text-decoration-thickness: 2px;
      text-underline-offset: 9px;
    }
  }

  &--current-main {
    @media (min-width: $vp-1260) {
      text-decoration-color: $white;
    }
  }

  &--main {
    @media (min-width: $vp-1260) {
      color: $white;
    }
  }
}
