.instruction {
  position: relative;

  padding: 8px 0 49px 0;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    display: none;
    width: 100%;
    height: 1px;

    background-color: $moon-lily-light;

    @media (min-width: $vp-768) {
      display: block;
    }

    @media (min-width: $vp-1260) {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    padding: 24px 0 45px 0;
  }

  @media (min-width: $vp-1260) {
    padding: 36px 0 34px 0;
  }
}

.instruction__container {
  padding: 0 20px 0 21px;

  @media (min-width: $vp-768) {
    padding: 0 31px 0 31px;
  }

  @media (min-width: $vp-1260) {
    padding: 0 20px 0 20px;
  }
}

.instruction__title {
  margin: 0 0 41px 0;
}

.instruction__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;

  @media (min-width: $vp-768) {
    gap: 48px 59px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1260) {
    gap: 40px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.instruction__item {
  position: relative;

  min-height: 60px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 60px;
    height: 60px;

    background-color: $starbur;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $vp-768) {
      top: 29px;

      width: 80px;
      height: 80px;
    }

    @media (min-width: $vp-1260) {
      top: 32px;
    }
  }

  &::before {
    display: none;

    @media (min-width: $vp-768) {
      position: absolute;
      top: -8px;
      right: 0;
      z-index: -1;

      display: block;
      height: 280px;

      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      font-family: $font-oswald;
      color: $bleached-silk;
    }
  }

  &--leaf {
    &::after {
      background-image: url("../img/svg/instruction-leaf-icon.svg");
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "1";
        right: 93px;

        width: 112px;
      }

      @media (min-width: $vp-1260) {
        right: 15px;
      }
    }
  }

  &--water {
    &::after {
      background-image: url("../img/svg/instruction-water-icon.svg");
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "2";
        right: 78px;

        width: 134px;
      }

      @media (min-width: $vp-1260) {
        right: 0;
      }
    }
  }

  &--fork-knife {
    &::after {
      background-image: url("../img/svg/instruction-fork-knife-icon.svg");
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "3";
        right: 75px;

        width: 134px;
      }

      @media (min-width: $vp-1260) {
        right: -2px;
      }
    }
  }

  &--watch {
    &::after {
      background-image: url("../img/svg/instruction-watch-icon.svg");
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "4";
        right: 72px;

        width: 136px;
      }

      @media (min-width: $vp-1260) {
        right: -5px;
      }
    }
  }

  @media (min-width: $vp-768) {
    padding: 140px 0 57px 0;
  }

  @media (min-width: $vp-1260) {
    padding: 143px 0 57px 0;
  }
}

.instruction__description {
  padding: 0 0 0 81px;

  .instruction__item--watch & {
    br {
      display: none;

      @media (min-width: $vp-768) {
        display: block;
      }
    }
  }

  @media (min-width: $vp-768) {
    max-width: 268px;
    padding: 0;
  }

  @media (min-width: $vp-1260) {
    max-width: 100%;
  }
}
