.instruction__title {
  margin: 0 0 40px 0;
}

.instruction__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.instruction__item {
  min-height: 60px;
}

.instruction__description {
  padding: 0 0 0 80px;
}
